<!-- The content in this file is inserted into the base.html file -->
<footer>
    <div class="footer__top">
        <div class="row">
            <div class="col-md-9 col-12">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link bold" href="#">Become a Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bold" href="#">Become an Sponsor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">T1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help and Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Affiliate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sitemap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Korean</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-12">
                <!-- Default dropup button -->
                <div class="btn-group dropup text-md-right">
                    <button type="button" class="btn button--dropup dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe"></i>English
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Deutsch</a>
                        <a class="dropdown-item" href="#">Español</a>
                        <a class="dropdown-item" href="#">Français</a>
                        <a class="dropdown-item" href="#">Bahasa Indonesia</a>
                        <a class="dropdown-item" href="#">Italiano</a>
                        <a class="dropdown-item" href="#">日本語</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer__bottom">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="C:\Users\u3203966\Documents\GitHub\Project 2\img\T1Logo.png" alt="logo">
                <span>Copyright &copy; 2022 T1, Inc.</span>
            </div>
            <div class="col-md-6 col-12">
                <ul class="nav justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy and Cookie Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</footer>
